@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Chivo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Desktop{
    display: none;
}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bai Jamjuree';
 
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: auto;
    background-image: url(./assets/Mobile/backnew.png);
    background-repeat: no-repeat;
    background-position: top;
    
}

.C-incircle{
    margin-top: 123px;
}

.History{
    width: 311px;
    color: #4C545C;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.522px;
    margin-top: 64px;
}

.Clipboard{
    width: 311px;
    color: #9EABB2;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.12px;
    margin-top: 16px;
}

.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 24px;
}

.Ios{
    width: 311px;
    height: 56px;
    border-radius: 28px;
    background: #26BBA4;
    box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 18px;
    font-weight: 600;
    line-height: 166.667%;
    letter-spacing: 0.5px;
    border: none;

}

.Mac{
    border: none;
    width: 311px;
    height: 56px;
    border-radius: 28px;
    background: #6174FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 18px;
    font-weight: 600;
    line-height: 166.667%;
    letter-spacing: 0.5px;
}

.Text{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.Keep{
    width: 311px;
    color: #4C545C;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.457px;
}

.Stores{
    margin-top: 16px;
    width: 311px;
    color: #9EABB2;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.12px;
}

.PcAndTexts{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Texts{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.Bold{
    color: #4C545C;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.391px;
    width: 311px;
}

.NotBold{
    color: #9EABB2;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.12px;
    width: 311px;
}

.Tools{
    margin-top: 11px;
}

.TabletAndTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 186px;
}

.Access{
    font-size: 28px;
    width: 311px;
}

.Whether{
    margin-top: 16px;
    width: 311px;
}

.TabletAndPhone{
    margin-top: 65px;
}

.Supercharge{
    font-size: 28px;
}

.Icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.IconsAndTexts , .box{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Create{
    margin-top: 40px;
}

.Plain , .Sneak{
    margin-top: 44px;
}

.Create , .Plain , .Sneak{
    margin-bottom: 18px;
}

.Companys{
    margin-top: 131px;
}

.TextAndButtons2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

footer{
    width: 375px;
    background-color:rgba(192,192,192,0.1);
    margin-top: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterC{
    margin-top: 52px;
}

.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.About p , .About1 p{
    width: 160px;
    color: #4C545C;
    text-align: center;
    font-family: 'Bai Jamjuree';
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%;
    letter-spacing: 0.135px;
}

.Footericons{
    display: flex;
    flex-direction: row;
    gap:40px;
    margin-top: 50px;
    margin-bottom: 53px;
}

.About1{
    display: none;
}